<div id='header'>
  <h1>HOME</h1>
</div>
<div id="comics-container">
  <ul>
  {{#each comic in controller}}
    <li>{{#link-to 'comic' comic}}{{comic.title}}{{/link-to}}</li>
  {{/each}}
  </ul>
</div>

<div id="comic-info">
  {{outlet}}
</div>
