<div id="main">
  <div id='header'>
    <h1>Home</h1>
    {{#link-to 'current' }}Current Week{{/link-to}}
    {{#link-to 'next' }}Next Week{{/link-to}}
  </div>

  <div id="comics-container">
    {{outlet}}
  </div>
</div>
